div.toolbar {
  color: #FF9600;
  background: rgb(240,240,240);
}

div.slide {
  padding: 0;
}

div.background {
  z-index: 1;
  position: absolute;
  vertical-align: bottom;
  left: 0;
  right: 0;
  top: 0;
  height: 2.5em;
  bottom: auto;
  padding: 0 0 0 0.2em;
  margin: 0 0 0 0;
  background: #4d4d4d url("../images/fingerbank.logo.small.png") no-repeat fixed right 0.5em;
  border-width: 0;
}

div.slide h1 {
  padding-left: 0.5em;
  padding-right: 0;
  padding-top: 0.2em;
  margin-bottom: 0.8em;
  margin-top: -0.05em;
  margin-left: 0.1em;
  margin-right: 4em;
  color: #eee;
  height: 2.2em;
  font-size: 160%;
  line-height: 1.1em;
}

div.slide h1 a {
  color: white;
  text-decoration: none;
}

div.slide h1 a:link {
  color: white;
  text-decoration: none;
}

div.slide h1 a:visited {
  color: white;
  text-decoration: none;
}

div.slide h1 a:hover {
  color: white;
  text-decoration: underline;
}

div.slide h1 a:active {
  color: red;
  text-decoration: underline;
}

#head-icon {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1em;
  background:  #90A7D0;
  border-width: 0;
  z-index: 2;
  float: left;
}

#head-logo {
  margin: 0;
  padding-bottom: 0.2em;
  padding-left: 0;
  padding-right: 0;
  height: 52px;
  float: right;
  z-index: 2;
}

#head-logo-fallback {
  margin: 0;
  padding: 0;
  margin-top: -0.5em;
  height: 4em;
  float: right;
  z-index: 2;
}

div.background.slanty {
  z-index: 2;
  bottom: 0; 
  height: 100%;
  background: transparent;
}

div.background.slanty img { margin-top: 4em; width: 100%; height: 80% }

/* the following makes the pre background translucent */
/* opacity is a CSS3 property but supported by Mozilla family */
/* filter is an IE specific feature that also requires width */
div.slide.slanty pre {
  width: 93%;  /* needed for IE filter to work */
  opacity: .8;
  filter: alpha(opacity=80);
}

img.withBorder {
  border: 2px solid #c60;
  padding: 4px;
}

@media print { pre { font-size: 60% } }

a:visited { color: #4d4d4d }
a:link { color: #4d4d4d }
a:hover { color: #4d4d4d; text-decoration: underline }
a:active { color: #4d4d4d; text-decoration: underline }

.navbar a:link {color: white}
.navbar a:visited {color: white}
.navbar a:active {color: #4d4d4d}
.navbar a:hover {color: #4d4d4d}

li li { font-size: 85%; font-style: normal }

div.cover p.explanation {
  font-style: italic;
  margin-top: 3em;
}

.smaller { font-size: smaller }

ul li { 
  list-style: none;
  margin: 0.1em 0em 0.6em 0;
  padding: 0 0 0 40px;
  background: transparent url(fleche_inverse.jpg) no-repeat 5px 8px;
  line-height: 140%;
}

/* workaround IE's failure to support background on li for print media */
@media print { ul li { list-style: disc; padding-left: 0; background: none; } }

ol li { 
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
}

li ul li {
  font-style: normal;
}

li li { 
  font-size: 85%; 
  font-style: normal;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}
li li li { 
  font-size: 85%; 
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
li li li li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

ul.outline li.nofold {
  padding: 0 0 0 52px;
  background: transparent url(bullet-nofold-dim.gif) no-repeat 5px 8px;
}
ul.outline li.unfolded {
  padding: 0 0 0 52px;
  background: transparent url(bullet-fold-dim.gif) no-repeat 5px 8px;
}
ul.outline li.folded {
  padding: 0 0 0 52px;
  background: transparent url(bullet-unfold-dim.gif) no-repeat 5px 8px;
}
ul.outline li.unfolded:hover {
  padding: 0 0 0 52px;
  background: transparent url(bullet-fold.gif) no-repeat 5px 8px;
}
ul.outline li.folded:hover {
  padding: 0 0 0 52px;
  background: transparent url(bullet-unfold.gif) no-repeat 5px 8px;
}

li ul.outline li.nofold {
  padding: 0 0 0 21px;
  background: transparent url(nofold-dim.gif) no-repeat 5px 8px;
}
li ul.outline li.unfolded {
  padding: 0 0 0 21px;
  background: transparent url(fold-dim.gif) no-repeat 5px 8px;
}
li ul.outline li.folded {
  padding: 0 0 0 21px;
  background: transparent url(unfold-dim.gif) no-repeat 5px 8px;
}
li ul.outline li.unfolded:hover {
  padding: 0 0 0 21px;
  background: transparent url(fold.gif) no-repeat 5px 8px;
}
li ul.outline li.folded:hover {
  padding: 0 0 0 21px;
  background: transparent url(unfold.gif) no-repeat 5px 8px;
}

div.header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  height: 2.95em;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-width: 0;
  border-style: solid;
  background-color: #005A9C;
  border-bottom-width: thick;
  border-bottom-color: #95ABD0;
}

div.footer {
  position: absolute;
  z-index: 80;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 3.5em;
  margin: 0;
  font-size: 80%;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 0;
  padding-top: 0.3em;
  padding-bottom: 0;
  color: #003366;
  background-color: #95ABD0;
}

/* this is a hack to hide property from IE6 and below */
div[class="footer"] {
  position: fixed;
}

#w3c-logo {
  margin: 0;
  margin-top: 0.3em;
  margin-right: 0.75em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  height: 2em;
  width: 4.1em;
  float: right;
  z-index: 3;
  background: #90A7D0;
}

#w3c-logo-fallback {
  margin: 0;
  margin-top: -0.5em;
  margin-right: 0.75em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  height: 3em;
  width: 4.1em;
  float: right;
  z-index: 3;
  background: #90A7D0;
}

#hidden-bullet {
  visibility: hidden;
  display: none;
}

div.slide.cover {
  color: white;
  background-color: #4D4D4D;
  padding-top: 5em;
  padding-right: 0;
  padding-left: 3em;
  /*height: 100%;*/
}

div.slide.cover h1 {
  background-color: transparent;
  margin: 0;
  padding: 0.5em;
  color: white;
  height: auto;
}

div.slide.cover h2 {
  color: white;
}

div.slide.cover a {
  color: white;
}

div.slide.cover a:hover, div.slide.cover a:active {
  color: white; text-decoration: underline;
}

div.slide.cover img.cover {
   margin: 0 0 0 0;
   float: right;
   padding-bottom: 4em;
   width: 50%;
   overflow: hidden;
}

div.slide.cover a:hover, div.slide.cover a:active {
    color: white; text-decoration: underline;
}

/* for Bert as an ardent user of the old W3C slidemaker tool */

div.comment { display: none; visibility: hidden }

@media print { div.comment { display: block; visibility: visible } }

/* overload some classes from slidy.css */

pre {
  background-color: #FFCB80;
/*color: #B34E00; */
  color: black;
  border-color: #FF9600;
}

li dd {
  font-size: 85%; 
}
